<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes/head-html::head">
</head>

<body>
<nav th:replace="includes/navigation::top-header"></nav>

<header class="pt-2">
    <div class="container-fluid">
        <div class="card">
            <nav class="navbar">
                <div class="mr-auto">
                    <span th:text="#{product.list_name}" class="text-uppercase">Список продуктов</span>
                </div>
                <a class="float-right btn btn-green"
                   th:href="@{/product}"
                   href="product.html"
                   th:title="#{product.add_new}"
                   data-toggle="tooltip">
                    <i class="fa fa-plus"></i>
                </a>
                <a class="float-right btn btn-green"
                   th:href="@{/products}"
                   href="products.html"
                   th:title="#{product.refresh_list}"
                   data-toggle="tooltip">
                    <i class="fa fa-sync"></i>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="container-fluid pt-2">
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped mt-4 text-center">
                        <thead class="table-head text-white">
                        <tr>
                            <th th:text="#{product.category}" scope="col">Категории</th>
                            <th th:text="#{product.subcategory}" scope="col">Подкатегория</th>
                            <th th:text="#{product.name}" scope="col">Наименование</th>
                            <th th:text="#{product.date_added}" scope="col">Дата добавления</th>
                            <th th:text="#{product.total_amount_of_products}" scope="col">Количество товаров</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${products}">
                            <th th:text="${product.categoryName}" scope="row">Кирпичи и блоки</th>
                            <td th:text="${product.subCategoryName}">Кирпичи</td>
                            <td th:text="${product.productName}">Кирпич красный</td>
                            <td th:text="${product.dateAdded}">2018-01-01</td>
                            <td th:text="${product.productAmount}">2500</td>
                            <td>
                                <a th:href="${'/product/' + product.productId}"><i class="fa fa-pencil-alt"></i></a>
                                <a class="pl-3" data-toggle="modal" data-target="#userDialog">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row">Кирпичи и блоки</th>
                            <td>Кирпичи</td>
                            <td>Кирпич красный</td>
                            <td>2018-01-01</td>
                            <td>2500</td>
                            <td>
                                <a><i class="fa fa-pencil-alt"></i></a>
                                <a class="pl-3" data-toggle="modal" data-target="#userDialog">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        <tr th:remove="all">
                            <th scope="row">Кирпичи и блоки</th>
                            <td>Кирпичи</td>
                            <td>Кирпич красный</td>
                            <td>2018-01-01</td>
                            <td>2500</td>
                            <td>
                                <a><i class="fa fa-pencil-alt"></i></a>
                                <a class="pl-3" data-toggle="modal" data-target="#userDialog">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card">
                <div class="card-header">
                    <p>Filters</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label th:text="#{product.filter.name}" for="date-from">Date From</label>
                            <input class="form-control" type="date" id="date-from">
                        </div>
                        <div class="form-group">
                            <label th:text="#{product.filter.to}" for="date-to">Date To</label>
                            <input class="form-control" type="date" id="date-to">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>