<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes/head-html::head">
</head>

<body>
<nav th:replace="includes/navigation::top-header"></nav>

<header class="pt-2">
    <div class="container-fluid">
        <div class="card">
            <nav class="navbar">
                <span th:text="${isNew} ? 'Adding' : 'Edit'" class="text-uppercase mr-auto">Adding</span>
                <a th:text="${isNew} ? 'Add' : 'Save'"
                   th:onclick="@{document.forms['productForm'].submit(); return false;}"
                   class="float-right btn btn-green">Добавить</a>
                <a class="float-right btn btn-green"
                   th:href="@{/products}" href="categories.html">Back</a>
            </nav>
        </div>
    </div>
</header>

<div class="container-fluid pt-2">
    <div class="card">
        <div class="card-body">
            <div class="row justify-content-center">
                <div class="col-6">
                    <p class="h2 text-center">Данные продукта</p>
                    <form id="productForm" th:object="${product}"
                          th:action="@{${#httpServletRequest.servletPath}}"
                          th:method="@{post}">

                        <input id="productId"
                               type="hidden"
                               th:field="*{productId}"/>
                        <input class="form-control mt-4" type="text"
                               placeholder="Введите название продукта"
                               th:field="*{productName}">
                        <input class="form-control mt-4" type="text"
                               placeholder="Введите количество продукта"
                               th:field="*{productAmount}">

                        <select class="form-control mt-4" name="categoryId">
                            <option value="0">Создать самостоятульную категорию</option>
                            <option value="5">Bricks</option>
                            <option value="6">Blocks</option>
                            <option value="7">Screws</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>