<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<table class="table table-striped mt-4 text-center">
    <thead class="table-head text-white">
    <tr>
        <th scope="col">Подкатегория</th>
        <th scope="col">Количество товаров</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="subcategory:${subcategories}">
        <th th:text="${subcategory.subCategoryName}" scope="row">Лаковые</th>
        <td th:text="${subcategory.productsAmount}">50</td>
        <td>
            <a><i class="fa fa-pencil-alt"></i></a>
            <a class="pl-3" data-toggle="modal" data-target="#userDialog">
                <i class="fa fa-trash"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</html>